
<main>
  <div class="container">
    <% if flash[:notice].present? %>
      <div class="alert alert-success mb-4">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="row">
      <h1 class="px-5 mx-auto">
        ようこそ、baristas connectionへ!!<br>
        このサイトはコーヒの専門家であるバリスタ同士が<br>
        お互いの知識や経験、技術的な相談など
        情報交換や<br>交流を行うためのコミュニティサイトです。
        </h1>
      </div>
    </div>
</main>
